.all {
  margin: 0 auto;
  width: 1240px;
}

.allElemets {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

h1 {
  font-size: 15px;
}

.block{
  margin: 20px;
  border: 1px solid;
}

.inform{
  border: 1px solid;
  width: 500px;
  height: 250px;
  margin-left: 370px;
}